<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Input Teks Tanpa Angka</title>
  <script>
    function checkInput(event) {
      var charCode = event.which || event.keyCode;

      if (!(charCode >= 48 && charCode <= 57)) {
        event.preventDefault(); 
      }
    }
  </script>
</head>
<body>
  <label for="text-input">Input Teks Tanpa Angka:</label>
  <input type="text" id="text-input" onkeypress="checkInput(event)" />
</body>
</html>
